.hero {
  background-image: url(images/kaffe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
}
.hero h1,
p {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 20px;
}
.hero p {
  color: black;
}

.hero a {
  text-decoration: underline;
  color: inherit;
}
.hero span {
  color: rgb(132, 66, 66);
}
.navbar {
  background: #b8b08d;
  padding: 10px;
}
ul {
  justify-content: flex-end;
  display: flex;
  list-style: none;
  padding-right: 20px;
}
a {
  color: brown;
  text-decoration: none;
  font-family: "Story Script", sans-serif;
  padding: 10px;
}
a:hover {
  background: #96616b;
  border-radius: 20px;
  padding: 10px;
}
